#app1 {
  width: 100%;
  min-height: 300px;
  border: 4px double gray;
}

#app2 {
  width: 100%;
  min-height: 300px;
  border: 4px double gray;
}

#app3 {
  width: 100%;
  min-height: 300px;
  border: 4px double gray;
}

#app4 {
  width: 100%;
  min-height: 300px;
  border: 4px double gray;
}
